<h4><%= t :damage_types %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_damage_type_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_owner %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-damage-type"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="damage-type-data" class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @damage_types.each do |damage_type| %>
      <tr>
        <td><%= damage_type.name %></td>
        <td>
          <%= link_to damage_type, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_damage_type_path(damage_type), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to damage_type, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'trash' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>