<p id="notice"><%= notice %></p>

<h4>Damage Types</h4>

<div class="actions form-inline">
  <%= link_to new_damage_type_path, :class => 'btn btn-info btn-sm' do %>
      Add a Damage Type
  <% end %>
</div>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @damage_types.each do |damage_type| %>
      <tr>
        <td><%= damage_type.name %></td>
        <td><%= link_to 'Show', damage_type %></td>
        <td><%= link_to 'Edit', edit_damage_type_path(damage_type) %></td>
        <td><%= link_to 'Destroy', damage_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>