<h4>Your Profile</h4>

<%= form_for(resource, as: @manager, url: registration_path(@manager), html: { method: :put }) do |f| %>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Email', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.email_field :email, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'envelope-o' %></span>
        </div>

        <% if !@manager.errors.messages[:'email'].empty?  %>
            <ul>
              <% @manager.errors.messages[:'email'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <% if devise_mapping.confirmable? && @manager.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= @manager.unconfirmed_email %></div>
    <% end %>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Password', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
          <span class="input-group-addon"><%= fa_icon 'key' %></span>
        </div>

        <% if !@manager.errors.messages[:'password'].empty?  %>
            <ul>
              <% @manager.errors.messages[:'password'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Password confirmation', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
          <span class="input-group-addon"><%= fa_icon 'key' %></span>
        </div>
        <% if !@manager.errors.messages[:'password_confirmation'].empty?  %>
            <ul>
              <% @manager.errors.messages[:'password_confirmation'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Current Password', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.password_field :current_password, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'key' %></span>
        </div>

        <% if !@manager.errors.messages[:'current_password'].empty?  %>
          <ul>
            <% @manager.errors.messages[:'current_password'].each do |message| %>
                <li>
                  <small class="form-text text-muted text-error"><%= message %></small>
                </li>
            <% end %>
          </ul>
        <% end %>

      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label "#{t :full_name}", class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.text_field :full_name, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'user' %></span>
        </div>
      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Home Phone', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.text_field :home_phone, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'phone' %></span>
        </div>
      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Mobile Phone', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.text_field :mobile_phone, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'mobile-phone' %></span>
        </div>
      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'Birth Date', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.date_field :birth_date, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'calendar' %></span>
        </div>
      </div>
    </div>

    <!-- # -->
    <div class="form-group row">
      <%= f.label 'CIN', class: 'col-sm-2 col-form-label'%>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.text_field :cin, class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon 'vcard' %></span>
        </div>
      </div>
    </div>


    <div class="actions">
      <%= f.submit 'Update', class: 'btn btn-info' %>
    </div>

<% end %>

<div class="alert alert-danger">
  <h3>Delete this account</h3>
  <p>
    <%=
      button_to 'Delete this account',
                registration_path(resource_name),
                data: { confirm: "#{t :are_you_sure}" },
                method: :delete ,
                class: 'btn btn-outline-danger'
    %>
  </p>
</div>

<%= link_to :back, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>