<h4><%= "#{t :owner} - #{t :new}" %></h4>

<%= render 'form', owner: @owner %>

<%= link_to owners_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>