<h4><%= @owner.full_name %> - Detail</h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nom Complet</th>
    <th>Telephone Fixe</th>
    <th>Telephone Mobile</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @owner.full_name %></td>
    <td><%= @owner.home_phone %></td>
    <td><%= @owner.mobile_phone %></td>
  </tr>
  </tbody>
</table>

<%= link_to owners_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to edit_owner_path(@owner), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> Edit
<% end %>
