<p id="notice"><%= notice %></p>

<h1>Inssurances</h1>

<table>
  <thead>
    <tr>
      <th>Expense</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inssurances.each do |inssurance| %>
      <tr>
        <td><%= inssurance.expense %></td>
        <td><%= inssurance.start_date %></td>
        <td><%= inssurance.end_date %></td>
        <td><%= link_to 'Show', inssurance %></td>
        <td><%= link_to 'Edit', edit_inssurance_path(inssurance) %></td>
        <td><%= link_to 'Destroy', inssurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inssurance', new_inssurance_path %>
