<p id="notice"><%= notice %></p>

<p>
  <strong>Expense:</strong>
  <%= @inssurance.expense %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @inssurance.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @inssurance.end_date %>
</p>

<%= link_to 'Edit', edit_inssurance_path(@inssurance) %> |
<%= link_to 'Back', inssurances_path %>
