<div class="row">

  <!-- All Expenses -->
  <%= render 'statistics/expenses/all_expenses_stats' %>

  <!-- # Right Column -->
  <div class="col-md-7 stats-col">

    <!-- # Insurances -->
    <%= render 'statistics/expenses/insurances_stats' %>

    <!-- # Breaks -->
    <%= render 'statistics/expenses/breaks_stats' %>

    <!-- # Damages -->
    <%= render 'statistics/expenses/damages_stats' %>

    <!-- # Owner Takes -->
    <%= render 'statistics/expenses/owner_takes_stats' %>

  </div>

</div>