<%= form_with(model: insurance, local: true) do |form| %>

    <div class="form-group row">
      <%= form.label "#{t :insurer_name}", class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.collection_select :insurer_id, Insurer.all, :id, :name, {
          :multiple => false,
          :include_blank => 'Selection un Assureur',
        },{ class: 'form-control' }
        %>
      </div>
    </div>

    <%= form.fields_for :expense  do |expense_form| %>

        <div class="form-group row">
          <%= expense_form.label "#{t :amount}", class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <div class="input-group">
              <%= expense_form.number_field :amount, class: 'form-control' %>
              <span class="input-group-addon">DH</span>
            </div>

            <% if !insurance.errors.messages[:'expense.amount'].empty?  %>
                <ul>
                  <% insurance.errors.messages[:'expense.amount'].each do |message| %>
                    <li>
                      <small class="form-text text-muted text-error"><%= message %></small>
                    </li>
                  <% end %>
                </ul>
            <% end %>

          </div>
        </div>

        <div class="form-group row">
          <%= expense_form.label "#{t :attached_file}", class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= expense_form.file_field :attached_file %>
          </div>
        </div>

        <div class="form-group row">
          <%= expense_form.label :description, class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= expense_form.text_area :description,  cols: 10, rows: 10, class: 'form-control' %>
          </div>
        </div>

    <% end %>

    <div class="form-group row">
      <%= form.label "#{t :starting_date}", class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.date_field :start_date, class: 'form-control' %>

        <% if !insurance.errors.messages[:'start_date'].empty?  %>
            <ul>
              <% insurance.errors.messages[:'start_date'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <div class="form-group row">
      <%= form.label "#{t :expiration_date}", class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.date_field :expiration_date, class: 'form-control' %>


        <% if !insurance.errors.messages[:'expiration_date'].empty?  %>
            <ul>
              <% insurance.errors.messages[:'expiration_date'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <div class="actions">
      <%= form.submit "#{t :save}", :class => 'btn btn-info' %>
    </div>

<% end %>
