<h4>Editer cette Insurance</h4>

<%= render 'form', insurance: @insurance %>

<%= link_to insurances_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to @insurance, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Consulter Detail
<% end %>

