<h4><%= t :insurance %> - <%= t :edit %></h4>

<%= render 'form', insurance: @insurance %>

<%= link_to insurances_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to @insurance, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> <%= t :preview %>
<% end %>

