<h4>Insurance - Edit</h4>

<%= render 'form', insurance: @insurance %>

<%= link_to insurances_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to @insurance, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Show Detail
<% end %>

