<h4><%= t :insurances %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_insurance_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_insurance %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-insurance"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="insurance-data" class="responsive-table">
  <thead>
    <tr>
      <th scope="col"><%= t :starting_date %></th>
      <th scope="col"><%= t :expiration_date %></th>
      <th scope="col"><%= t :insurer %></th>
      <th scope="col"><%= t :attached_file %></th>
      <th scope="col"><%= t :amount %></th>
      <th scope="col" class="td-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <th scope="row"><%= insurance.start_date %></th>
        <td data-title="<%= t :expiration_date %>"><%= insurance.expiration_date %></td>
        <td data-title="<%= t :insurer %>"><%= insurance.insurer.name %></td>
        <td data-title="<%= t :attached_file %>"><%= insurance.expense.attached_file.file ? image_tag(insurance.expense.attached_file, width: 159, height: 220) : 'No Document' %></td>
        <td data-title="<%= t :amount %>"><b><%= insurance.expense.amount %> DH</b></td>
        <td class="btn-actions">
          <%= link_to insurance, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_insurance_path(insurance), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to insurance, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>

  <tfoot>
    <tr class="table-sum">
      <td colspan="4"><b>Total</b></td>
      <td colspan="2">
        <b><%= @insurances_sum %> DH</b>
      </td>
    </tr>
  </tfoot>

</table>
