<h4>Assurances</h4>

<div class="actions form-inline">
  <%= link_to new_insurance_path, :class => 'btn btn-info btn-sm' do %>
        Ajouter une nouvelle Assurance
    <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Assureur</th>
      <th>Date de Début</th>
      <th>Date d'expiration</th>
      <th>Pièce jointe</th>
      <th>Description</th>
      <th>Actions</th>
      <th>Montant en DH</th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.insurer.name %></td>
        <td><%= insurance.start_date %></td>
        <td><%= insurance.expiration_date %></td>
        <td><%= insurance.expense.attached_file %></td>
        <td><%= insurance.expense.description %></td>
        <td>
          <%= link_to insurance, :class => 'btn btn-outline-primary btn-sm' do %>
              <%= fa_icon 'eye' %> Consulter
          <% end %>
          <%= link_to edit_insurance_path(insurance), :class => 'btn btn-outline-primary btn-sm' do %>
              <%= fa_icon 'pencil' %> Modifier
          <% end %>
          <%= link_to insurance, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary btn-sm' do %>
              <%= fa_icon 'trash' %> Suprimer
          <% end %>
        </td>
        <td><b><%= insurance.expense.amount %></b></td>
      </tr>
    <% end %>

    <tr class="table-active">
      <td colspan="6"><b>Total</b></td>
      <td>
        <b><%= @insurances_sum %> DH</b>
      </td>
    </tr>

  </tbody>

</table>