<h4>Assurances</h4>


<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_insurance_path, :class => 'btn btn-info btn-sm' do %>
        Ajouter une nouvelle Assurance
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-insurance"
           placeholder="Votre Recherche..." aria-label="Votre Recherche...">
  </div>

</div>

<table id="insurance-data" class="table table-bordered">
  <thead>
    <tr>
      <th>Assureur</th>
      <th>Date de Début</th>
      <th>Date d'expiration</th>
      <th>Pièce jointe</th>
      <th>Description</th>
      <th>Montant en DH</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.insurer.name %></td>
        <td><%= insurance.start_date %></td>
        <td><%= insurance.expiration_date %></td>
        <td><%= insurance.expense.attached_file %></td>
        <td><%= insurance.expense.description %></td>
        <td><b><%= insurance.expense.amount %></b></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-outline-dark btn-sm dropdown-toggle"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choisir une Action
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to insurance, :class => 'dropdown-item' do %>
                  Consulter
              <% end %>
              <%= link_to edit_insurance_path(insurance), :class => 'dropdown-item' do %>
                  Modifier
              <% end %>
              <%= link_to insurance, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' do %>
                  Suprimer
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>