<h4><%= "#{t :insurance} - #{t :detail}" %></h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th><% t :insurer %></th>
    <th><%= t :starting_date %></th>
    <th><%= t :expiration_date %></th>
    <th><%= t :amount %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= Insurer.find(@insurance.insurer_id).name %></td>
    <td><%= @insurance.start_date %></td>
    <td><%= @insurance.expiration_date %></td>
    <td><%= Expense.find(@insurance.expense.id).amount %> DH</td>
  </tr>
  </tbody>
</table>

<%= link_to insurances_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to edit_insurance_path(@insurance), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> <%= t :edit %>
<% end %>
