<%= form_with(model: break, local: true) do |form| %>
  <% if break.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(break.errors.count, "error") %> prohibited this break from being saved:</h2>

      <ul>
      <% break.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_id %>
    <%= form.text_field :expense_id, id: :break_expense_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :break_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :break_end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
