<h4><%= t :breaks %></h4>

<!-- # -->
<div class="actions form-inline">

  <div class="col">
    <%= link_to new_break_path, :class => 'btn btn-info btn-sm form-control' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_break %>
    <% end %>
  </div>

  <div class="col">
    <input type="search"
           class="form-control"
           id="search-break"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="break-data" class="responsive-table">
  <thead>
    <tr>
      <th scope="col">Cause</th>
      <th scope="col"><%= t :starting_date %></th>
      <th scope="col"><%= t :end_date %></th>
      <th scope="col"><%= t :delay %></th>
      <th scope="col"><%= t :amount %></th>
      <th scope="col" class="td-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @breaks.each do |b| %>
      <tr>
        <th scope="row"><%= b.break_cause.name %></th>
        <td data-title="<%= t :starting_date %>"><%= b.start_date %></td>
        <td data-title="<%= t :end_date %>"><%= b.end_date %></td>
        <td data-title="<%= t :delay %>"><%= (b.end_date - b.start_date).to_i %> <%= t :days %></td>
        <td data-title="<%= t :amount %>"><b><%= b.expense.amount %> DH</b></td>
        <td>
          <%= link_to b, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_break_path(b), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to b, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr class="table-sum">
      <td colspan="4"><b>Total</b></td>
      <td colspan="2">
        <b><%= @breaks_sum %> DH</b>
      </td>
    </tr>
  </tfoot>

</table>