<h4>Breaks</h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_break_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> Add a New Break
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-break"
           placeholder="Votre Recherche..." aria-label="Votre Recherche...">
  </div>

</div>

<!-- # -->
<table id="break-data" class="table table-bordered">
  <thead>
    <tr>
      <th>Cause</th>
      <th>Date début</th>
      <th>Date fin</th>
      <th>Retard en Jours</th>
      <th>Montant en DH</th>
      <th class="td-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @breaks.each do |b| %>
      <tr>
        <td><%= b.break_cause.name %></td>
        <td><%= b.start_date %></td>
        <td><%= b.end_date %></td>
        <td><%= (b.end_date - b.start_date).to_i %> jours</td>
        <td><%= b.expense.amount %></td>
        <td>
          <%= link_to b, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_break_path(b), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to b, method: :delete, data: { confirm: 'Êtes vous sur?' }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr class="table-sum">
      <td colspan="4"><b>Total</b></td>
      <td colspan="2">
        <b><%= @breaks_sum %> DH</b>
      </td>
    </tr>
  </tfoot>

</table>