<h4>Break - Detail</h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Cause</th>
    <th>Starting Date</th>
    <th>End Date</th>
    <th>Delay</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= BreakCause.find(@break.break_cause_id).name %></td>
    <td><%= @break.start_date %></td>
    <td><%= @break.end_date %></td>
    <td><%= (@break.end_date - @break.start_date).to_i %> days</td>
    <td><%= Expense.find(@break.expense.id).amount %> DH</td>
  </tr>
  </tbody>
</table>

<%= link_to breaks_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to edit_break_path(@break), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> Edit
<% end %>