


<div class="devise">

  <%= render 'devise/shared/logo' %>

  <div class="card-box">

    <div class="text-center">
      <h3>Forgot your password?</h3>
      <p>
        Enter your email address and we'll send you
        an email with instructions to reset your password.
      </p>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
          </div>

          <%= f.submit 'Send me reset instructions', class: 'btn btn-info' %>

      <% end %>

    </div>

  </div>

  <div class="sublink">
    Already have an account?
    <%= link_to 'Log in', new_session_path(resource_name) %> |
    <%= link_to 'Sign up', new_registration_path(resource_name) %>
  </div>

</div>
