<div class="devise col-md-4">

  <%= render 'devise/shared/logo' %>

  <div class="card-box">

    <div class="text-center">
      <h3><%= t :forgot_password %>?</h3>
      <p>
        <%= t :enter_your_email_msg %>
      </p>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
          </div>

          <%= f.submit "#{t :send_me_reset_instructions}", class: 'btn btn-info' %>

      <% end %>

    </div>

  </div>

  <div class="sublink">
    <%= t :already_have_an_account %>?
    <%= link_to "#{t :login}", new_session_path(resource_name) %> |
  </div>

</div>
