<%= form_with(model: owner_take, local: true) do |form| %>
  <% if owner_take.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(owner_take.errors.count, "error") %> prohibited this owner_take from being saved:</h2>

      <ul>
      <% owner_take.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_id %>
    <%= form.text_field :expense_id, id: :owner_take_expense_id %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, id: :owner_take_owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
