<h4>Owner Take - Edit</h4>

<%= render 'form', owner_take: @owner_take %>

<%= link_to owner_takes_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to @owner_take, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Show Detail
<% end %>
