
<h4><%= t :owner_takes %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_owner_take_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_owner_take %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-owner-take"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="owner-take-data" class="responsive-table">

  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col"><%= t :owner %></th>
      <th scope="col"><%= t :amount %></th>
      <th scope="col" class="td-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @owner_takes.each do |owner_take| %>
      <tr>
        <th scope="row"><%= owner_take.date %></th>
        <td data-title="<%= t :owner %>"><%= owner_take.owner.full_name %></td>
        <td data-title="<%= t :amount %>"><b><%= owner_take.expense.amount %> DH</b></td>
        <td class="btn-actions">
          <%= link_to owner_take, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_owner_take_path(owner_take), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to owner_take, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr class="table-sum">
      <td colspan="2"><b>Total</b></td>
      <td colspan="2">
        <b><%= @owner_takes_sum %> DH</b>
      </td>
    </tr>
  </tfoot>

</table>