<h4><%= t :fuel_types %> - <%= t :edit %></h4>

<%= render 'form', fuel_type: @fuel_type %>

<%= link_to fuel_types_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to @fuel_type, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> <%= t :preview %>
<% end %>