<h4>Fuel Type - Edit</h4>

<%= render 'form', fuel_type: @fuel_type %>

<%= link_to fuel_types_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to @fuel_type, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Consulter Detail
<% end %>