<h4>Types de carburants</h4>

<div class="actions form-inline">
  <%= link_to new_fuel_type_path, :class => 'btn btn-info btn-sm' do %>
      Ajouter un type de carburant
  <% end %>
</div>

<table class="table table-bordered table-responsive">

  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @fuel_types.each do |fuel_type| %>
      <tr>
        <td><%= fuel_type.name %></td>
        <td>
          <%= link_to fuel_type, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %> Show
          <% end %>
          <%= link_to edit_fuel_type_path(fuel_type), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %> Edit
          <% end %>
          <%= link_to fuel_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'trash' %> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

