<h4>Fuel Type</h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_fuel_type_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> Add a New Fuel Type
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-fuel-type"
           placeholder="Your Text..." aria-label="Your Text...">
  </div>

</div>

<!-- # -->
<table id="fuel-type-data" class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @fuel_types.each do |fuel_type| %>
      <tr>
        <td><%= fuel_type.name %></td>
        <td>
          <%= link_to fuel_type, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %> Show
          <% end %>
          <%= link_to edit_fuel_type_path(fuel_type), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %> Edit
          <% end %>
          <%= link_to fuel_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'trash' %> Destroy
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>