<h4><%= "#{t :fuel_types} - #{t :detail}" %></h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @fuel_type.name %></td>
  </tr>
  </tbody>
</table>

<%= link_to fuel_types_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to edit_fuel_type_path(@fuel_type), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> <%= t :edit %>
<% end %>