<%= form_for @damage do |form| %>

    <div class="form-group row">
      <%= form.label "#{t :damage_types}", class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.collection_select :damage_type_id, DamageType.group(:name), :id, :name, {
          :multiple => false,
          :include_blank => 'Select a Damage',
        },{ class: 'form-control' }
        %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "#{t :driver}", class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.collection_select :driver_id, Driver.all, :id, :full_name, {
          :multiple => false,
          :include_blank => 'Select a Driver',
        },{ class: 'form-control' }
        %>
        <small><%= t :driver_responsible %></small>
      </div>
    </div>

    <%= form.fields_for :expense  do |expense_form| %>

        <div class="form-group row">
          <%= expense_form.label "#{t :amount}", class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <div class="input-group">
              <%= expense_form.number_field :amount, class: 'form-control' %>
              <span class="input-group-addon">DH</span>
            </div>
            <small><%= t :labor_amount %></small>

            <% if !@damage.errors.messages[:'expense.amount'].empty?  %>
                <ul>
                  <% @damage.errors.messages[:'expense.amount'].each do |message| %>
                      <li>
                        <small class="form-text text-muted text-error"><%= message %></small>
                      </li>
                  <% end %>
                </ul>
            <% end %>

          </div>
        </div>

        <div class="form-group row">
          <%= form.label "#{t :labor}", class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <div class="input-group">
              <%= form.number_field :labor, class: 'form-control' %>
              <span class="input-group-addon">DH</span>
            </div>

            <% if !@damage.errors.messages[:'labor'].empty?  %>
                <ul>
                  <% @damage.errors.messages[:'labor'].each do |message| %>
                      <li>
                        <small class="form-text text-muted text-error"><%= message %></small>
                      </li>
                  <% end %>
                </ul>
            <% end %>

          </div>
        </div>

        <div class="form-group row">
          <%= expense_form.label "#{t :attached_file}", class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= expense_form.file_field :attached_file, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= expense_form.label :description, class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= expense_form.text_area :description,  cols: 10, rows: 10, class: 'form-control' %>
          </div>
        </div>

    <% end %>

    <div class="form-group row">
      <%= form.label 'Date', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.date_field :date, class: 'form-control' %>

        <% if !@damage.errors.messages[:'date'].empty?  %>
            <ul>
              <% @damage.errors.messages[:'date'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <div class="form-group row">
      <%= form.label "#{t :mileage}", class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <%= form.number_field :kilometers, class: 'form-control' %>
          <span class="input-group-addon">KM</span>
        </div>

        <% if !@damage.errors.messages[:'kilometers'].empty?  %>
            <ul>
              <% @damage.errors.messages[:'kilometers'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <div class="actions">
      <%= form.submit "#{t :save}", :class => 'btn btn-info' %>
    </div>

<% end %>
