<h4><%= t :damage %> - <%= t :edit %></h4>

<%= render 'form', damage: @damage %>

<%= link_to damages_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to @damage, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> <%= t :preview %>
<% end %>

