<h4><%= t :damages %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_damage_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_damage %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-damage"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="damage-data" class="table table-bordered">
  <thead>
    <tr>
      <th>Cause</th>
      <th><%= t :driver_responsible %></th>
      <th>Date</th>
      <th><%= t :mileage %></th>
      <th><%= t :labor %></th>
      <th><%= t :amount %></th>
      <th class="td-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @damages.each do |damage| %>
      <tr>
        <td><%= damage.damage_type.name %></td>
        <td>
          <% if damage.driver_id %>
            <%= damage.driver.full_name %>
            <% else %>
              <%= t :no_person_charge %>
          <% end %>
        </td>
        <td><%= damage.date %></td>
        <td><%= damage.kilometers %></td>
        <td><%= damage.labor %></td>
        <td><b><%= damage.expense.amount %> DH</b></td>
        <td>
          <%= link_to damage, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_damage_path(damage), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to damage, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr class="table-sum">
      <td colspan="5"><b>Total</b></td>
      <td colspan="2">
        <b><%= @damages_sum %> DH</b>
      </td>
    </tr>
  </tfoot>


</table>