<%= form_for @insurer do |form| %>

    <div class="form-group row">
      <%= form.label 'Name', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :name, class: 'form-control' %>
        <% if !@insurer.errors.messages[:'name'].empty?  %>
            <ul>
              <% @insurer.errors.messages[:'name'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label 'Picture', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :picture, class: 'form-control' %>
        <% if !@insurer.errors.messages[:'picture'].empty?  %>
            <ul>
              <% @insurer.errors.messages[:'picture'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label 'Address', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :address, class: 'form-control' %>
        <% if !@insurer.errors.messages[:'address'].empty?  %>
            <ul>
              <% @insurer.errors.messages[:'address'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label 'Phone', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :phone, class: 'form-control' %>
        <% if !@insurer.errors.messages[:'phone'].empty?  %>
            <ul>
              <% @insurer.errors.messages[:'phone'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Sauvegarder', :class => 'btn btn-info' %>
    </div>

<% end %>
