<h4>Insurers</h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_insurer_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> Add a new Insurer
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-insurer"
           placeholder="Votre Recherche..." aria-label="Votre Recherche...">
  </div>

</div>

<!-- # -->
<table id="insurer-data" class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Address</th>
    <th>Phone</th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @insurers.each do |insurer| %>
      <tr>
        <td><%= insurer.name %></td>
        <td><%= insurer.picture %></td>
        <td><%= insurer.address %></td>
        <td>0<%= insurer.phone %></td>
        <td>
          <%= link_to insurer, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %> Show
          <% end %>
          <%= link_to edit_insurer_path(insurer), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %> Edit
          <% end %>
          <%= link_to insurer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'trash' %> Destroy
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>
