<h4><%= @insurer.full_name %> - Detail</h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @insurer.name %></td>
    <td><%= @insurer.picture %></td>
    <td><%= @insurer.address %></td>
    <td><%= @insurer.phone %></td>
  </tr>
  </tbody>
</table>

<%= link_to insurers_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to edit_insurer_path(@insurer), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> Edit
<% end %>