<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @insurer.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @insurer.picture %>
</p>

<p>
  <strong>Address:</strong>
  <%= @insurer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @insurer.phone %>
</p>

<%= link_to 'Edit', edit_insurer_path(@insurer) %> |
<%= link_to 'Back', insurers_path %>
