<h4><%= "#{t :insurer} - #{t :detail}" %></h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th><%= t :picture %></th>
    <th><%= t :name %></th>
    <th><%= t :address %></th>
    <th><%= t :phone %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @insurer.picture.file ? image_tag(@insurer.picture, width: 100, height: 100) : 'No Picture' %></td>
    <td><%= @insurer.name %></td>
    <td><%= @insurer.address %></td>
    <td><%= @insurer.phone %></td>
  </tr>
  </tbody>
</table>

<%= link_to insurers_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to edit_insurer_path(@insurer), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> <%= t :edit %>
<% end %>