<%= form_for @break_cause do |form| %>

    <div class="form-group row">
      <%= form.label 'Break Cause', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :name, class: 'form-control' %>
        <% if !@break_cause.errors.messages[:'name'].empty?  %>
            <ul>
              <% @break_cause.errors.messages[:'name'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Sauvegarder', :class => 'btn btn-info' %>
    </div>

<% end %>