<h4>Edit</h4>

<%= render 'form', break_cause: @break_cause %>

<%= link_to break_causes_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to @break_cause, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> More Detail
<% end %>