<h4><%= t :break_causes %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_break_cause_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_break_cause %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-break-cause"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="break-cause-data" class="responsive-table">
  <thead>
  <tr>
    <th scope="col"><%= t :name %></th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @break_causes.each do |break_cause| %>
      <tr>
        <th scope="row"><%= break_cause.name %></th>
        <td>
          <%= link_to break_cause, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_break_cause_path(break_cause), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to break_cause, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'trash' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>