<p id="notice"><%= notice %></p>

<h1>Break Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @break_causes.each do |break_cause| %>
      <tr>
        <td><%= break_cause.name %></td>
        <td><%= link_to 'Show', break_cause %></td>
        <td><%= link_to 'Edit', edit_break_cause_path(break_cause) %></td>
        <td><%= link_to 'Destroy', break_cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Break Type', new_break_cause_path %>
