<h4>Break Causes</h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_break_cause_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> Add a New Break Cause
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-break-cause"
           placeholder="Your Text..." aria-label="Your Text...">
  </div>

</div>

<!-- # -->
<table id="break-cause-data" class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @break_causes.each do |break_cause| %>
      <tr>
        <td><%= break_cause.name %></td>
        <td>
          <%= link_to break_cause, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_break_cause_path(break_cause), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to break_cause, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'trash' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>