<%= form_for @income do |form| %>

    <% if income.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

        <ul>
        <% income.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= form.label :amount %>
      <%= form.number_field :amount, id: :income_amount %>
    </div>

    <div class="field">
      <%= form.label :attached_file %>
      <%= form.text_field :attached_file, id: :income_attached_file %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :income_description %>
    </div>

    <% if @income.manager_take %>

        <div class="field">
          <h3>Insurance Fields</h3>
          <%= form.fields_for :manager_take do |manager_take_form| %>
              <%= manager_take_form.label :date %>
              <%= manager_take_form.date_field :date %>
          <% end %>
        </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>

<% end %>
