<%= form_for @manager_take do |form| %>

    <div class="form-group row">
      <%= form.label 'Manager', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.collection_select :manager_id, Manager.all, :id, :full_name, {
          :multiple => false,
          :include_blank => 'Selectionner a Manager',
        },{ class: 'form-control' }
        %>
        <% if !@manager_take.errors.messages[:'manager'].empty?  %>
            <ul>
              <% @manager_take.errors.messages[:'manager'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label 'Date', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.date_field :date, class: 'form-control' %>

        <% if !@manager_take.errors.messages[:'date'].empty?  %>
            <ul>
              <% @manager_take.errors.messages[:'date'].each do |message| %>
                  <li>
                    <small class="form-text text-muted text-error"><%= message %></small>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
    </div>

    <%= form.fields_for :income  do |income_form| %>

        <div class="form-group row">
          <%= income_form.label 'Amount', class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <div class="input-group">
              <%= income_form.number_field :amount, class: 'form-control' %>
              <span class="input-group-addon">DH</span>
            </div>

            <% if !@manager_take.errors.messages[:'income.amount'].empty?  %>
                <ul>
                  <% @manager_take.errors.messages[:'income.amount'].each do |message| %>
                      <li>
                        <small class="form-text text-muted text-error"><%= message %></small>
                      </li>
                  <% end %>
                </ul>
            <% end %>

          </div>
        </div>


        <div class="form-group row">
          <%= income_form.label 'Attached File', class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= income_form.file_field :attached_file %>
          </div>
        </div>


        <div class="form-group row">
          <%= income_form.label :description, class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= income_form.text_area :description,  cols: 10, rows: 10, class: 'form-control' %>
          </div>
        </div>

    <% end %>

    <div class="actions">
      <%= form.submit 'Save', :class => 'btn btn-info' %>
    </div>

<% end %>
