<h4>Editer cette Recette</h4>

<%= render 'form', manager_take: @manager_take %>

<%= link_to manager_takes_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to @manager_take, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Consulter Detail
<% end %>
