<h4><%= "#{t :manager_take} - #{t :detail}" %></h4>

<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Manager</th>
    <th>Date</th>
    <th><%= t :amount %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= Manager.find(@manager_take.manager_id).full_name %></td>
    <td><%= @manager_take.date %></td>
    <td><%= Income.find(@manager_take.income_id).amount %> DH</td>
  </tr>
  </tbody>
</table>

<%= link_to manager_takes_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to edit_manager_take_path(@manager_take), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> <%= t :edit %>
<% end %>

