<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :driver_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :driver_last_name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date, id: :driver_birth_date %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone %>
    <%= form.number_field :mobile_phone, id: :driver_mobile_phone %>
  </div>

  <div class="field">
    <%= form.label :home_phone %>
    <%= form.number_field :home_phone, id: :driver_home_phone %>
  </div>

  <div class="field">
    <%= form.label :driving_license_number %>
    <%= form.text_field :driving_license_number, id: :driver_driving_license_number %>
  </div>

  <div class="field">
    <%= form.label :home_adress %>
    <%= form.text_area :home_adress, id: :driver_home_adress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
