<h4>Driver - Edit</h4>

<%= render 'form', driver: @driver %>

<%= link_to drivers_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to @driver, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Detail
<% end %>