<h4>Drivers</h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_driver_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> Add a New Driver
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-driver"
           placeholder="Your Text..." aria-label="Your Text...">
  </div>

</div>

<!-- # -->
<table id="driver-data" class="table table-bordered">
  <thead>
  <tr>
    <th>Full name</th>
    <th>Birth date</th>
    <th>Starting Date</th>
    <th>Mobile phone</th>
    <th>Driving license number</th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.full_name %></td>
        <td><%= driver.birth_date %></td>
        <td><%= driver.start_date %></td>
        <td><%= driver.mobile_phone %></td>
        <td><%= driver.driving_license_number %></td>
        <td>
          <%= link_to driver, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_driver_path(driver), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to driver, method: :delete, data: {confirm: 'Are Your Sur?'}, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>