<h4><%= t :drivers %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_driver_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_driver %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-driver"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="driver-data" class="table table-bordered">
  <thead>
  <tr>
    <th><%= t :full_name %></th>
    <th><%= t :birth_date %></th>
    <th><%= t :starting_date %></th>
    <th><%= t :mobile_phone %></th>
    <th><%= t :driver_license_number %></th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.full_name %></td>
        <td><%= driver.birth_date %></td>
        <td><%= driver.start_date %></td>
        <td><%= driver.mobile_phone %></td>
        <td><%= driver.driving_license_number %></td>
        <td>
          <%= link_to driver, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_driver_path(driver), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to driver, method: :delete, data: {confirm: "#{t :are_you_sure}"}, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>