<h4><%= "#{t :driver} - #{t :detail}" %></h4>

<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t :full_name %></th>
    <th><%= t :birth_date %></th>
    <th><%= t :mobile_phone %></th>
    <th><%= t :home_phone %></th>
    <th><%= t :driver_license_number %></th>
    <th><%= t :home_address %></th>
    <th>CIN</th>
    <th><%= t :starting_date %></th>
    <th><%= t :end_date %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @driver.full_name %></td>
    <td><%= @driver.birth_date %></td>
    <td><%= @driver.mobile_phone %></td>
    <td><%= @driver.home_phone %></td>
    <td><%= @driver.driving_license_number %></td>
    <td><%= @driver.home_address %></td>
    <td><%= @driver.cin %></td>
    <td><%= @driver.start_date %></td>
    <td><%= @driver.end_date %></td>
  </tr>
  </tbody>
</table>

<%= link_to drivers_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to edit_driver_path(@driver), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> <%= t :edit %>
<% end %>