<div class="col-sm-6">
  <div class="card">
    <div class="card-body">

      <!-- # -->
      <h4 class="card-title">
        Damages
        <b class="badge badge-dark">
          <%= number_to_currency(@damages_sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>

      <!-- # -->
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Cause</th>
          <th>Driver</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
        </thead>

        <tbody>
        <% Damage.all.limit(3).each do |damage| %>
            <tr>
              <td>
                <%= link_to damage do %>
                    <%= damage.damage_type.name %>
                <% end %>
              </td>
              <td>
                <% if damage.driver_id %>
                    <%= damage.driver.full_name %>
                <% else %>
                    No One
                <% end %>
              </td>
              <td><%= damage.date %></td>
              <td><b><%= damage.expense.amount %> DH</b></td>
            </tr>
        <% end %>
        </tbody>

      </table>

      <!-- # -->
      <div class="col-md-12">
        <%= link_to new_damage_path, :class => 'btn btn-info btn-sm' do %>
            <%= fa_icon 'plus' %> Add an Insurance
        <% end %>
        <%= link_to damages_path, :class => 'btn btn-info btn-sm' do %>
            <%= fa_icon 'list' %> Show More
        <% end %>
      </div>

    </div>
  </div>
</div>
