<%= form_for @expense do |form| %>

    <% if expense.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div>
      <h3>Choices</h3>
      <%= radio_button('expense', 'inssurance', 'insurance') %> Insurance
      <%= radio_button('expense', 'inssurance', 'break') %> Break
    </div>

    <div class="field">
      <%= form.label :amount %>
      <%= form.number_field :amount, id: :expense_amount %>
    </div>

    <div class="field">
      <%= form.label :attached_file %>
      <%= form.text_field :attached_file, id: :expense_attached_file %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :expense_description %>
    </div>

    <div class="field">
      <h3>Insurance Field</h3>
      <%= form.fields_for :inssurance do |inssurance_form| %>
          <%= inssurance_form.label :start_date %>
          <%= inssurance_form.date_field :start_date %>
          <%= inssurance_form.label :end_date %>
          <%= inssurance_form.date_field :end_date %>
      <% end %>
    </div>


    <div id="content">

    </div>

    <div class="actions">
      <%= form.submit %>
    </div>


<% end %>
