<div class="col-sm-6">
  <div class="card">
    <div class="card-body">

      <!-- # -->
      <h4 class="card-title">
        Insurances
        <b class="badge badge-dark">
          <%= number_to_currency(@insurances_sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>

      <!-- # -->
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Insurer</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Amount</th>
        </tr>
        </thead>

        <tbody>
        <% Insurance.all.limit(3).each do |insurance| %>
            <tr>
              <td>
                <%= link_to insurance do %>
                    <%= insurance.insurer.name %>
                <% end %>
              </td>
              <td><%= insurance.start_date %></td>
              <td><%= insurance.expiration_date %></td>
              <td><b><%= insurance.expense.amount %> DH</b></td>
            </tr>
        <% end %>

        </tbody>

      </table>

      <!-- # -->
      <div class="col-md-12">
        <%= link_to new_insurance_path, :class => 'btn btn-info btn-sm' do %>
            <%= fa_icon 'plus' %> Add an Insurance
        <% end %>
        <%= link_to insurances_path, :class => 'btn btn-info btn-sm' do %>
            <%= fa_icon 'list' %> Show More
        <% end %>
      </div>

    </div>
  </div>
</div>