<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Insurance</th>
      <th>Break</th>
      <th>Damage</th>
      <th>Owner Take</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %></td>
        <td>
					<% if expense.insurance %>
							<ul>
								<li>
									<b>Start Date</b>
									<%= expense.insurance.start_date %>
								</li>
								<li>
									<b>End Date</b>
									<%= expense.insurance.expiration_date %>
								</li>
							</ul>
					<% else %>
							<div style="text-align: center;padding-top: 10px;color: red"><b>Nothing</b></div>
					<% end %>
				</td>
				<td>
					<% if expense.break %>
							<ul>
								<li>
									<b>Start Date</b>
									<%= expense.break.start_date %>
								</li>
								<li>
									<b>End Date</b>
									<%= expense.break.end_date %>
								</li>
							</ul>
							<% else %>
								<div style="text-align: center;padding-top: 10px;color: red"><b>Nothing</b></div>
					<% end %>
				</td>
        <td>
          <% if expense.damage %>
              <ul>
                <li>
                  <b>Date</b>
                  <%= expense.damage.date %>
                </li>
              </ul>
          <% else %>
              <div style="text-align: center;padding-top: 10px;color: red"><b>Nothing</b></div>
          <% end %>
        </td>
        <td>
          <% if expense.owner_take %>
              <ul>
                <li>
                  <b>Owner</b>
                  <%= expense.owner_take.owner.full_name %>
                </li>
              </ul>
          <% else %>
              <div style="text-align: center;padding-top: 10px;color: red"><b>Nothing</b></div>
          <% end %>
        </td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr>
        <td><b><%= @expenses_sum %></b> DH</td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
