<div class="card">
    <div class="card-body">

      <!-- # -->
      <h4 class="card-title">
        Damages
        <b class="badge badge-info">
          <%= number_to_currency(Damage.includes(:expense).pluck(:amount).sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>

      <!-- # -->
      <% if !Damage.all.empty? %>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Cause</th>
            <th>Driver</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
          </thead>

          <tbody>
          <% Damage.all.limit(3).each do |damage| %>
              <tr>
                <td>
                  <%= link_to damage do %>
                      <%= damage.damage_type.name %>
                  <% end %>
                </td>
                <td>
                  <% if damage.driver_id %>
                      <%= damage.driver.full_name %>
                  <% else %>
                      No One
                  <% end %>
                </td>
                <td><%= damage.date %></td>
                <td><b><%= damage.expense.amount %> DH</b></td>
              </tr>
          <% end %>
          </tbody>

        </table>

        <!-- # -->
        <div class="col-md-12">
          <%= link_to new_damage_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'plus' %> Add a Damage
          <% end %>
          <%= link_to damages_path, :class => 'btn btn-sm btn-secondary' do %>
              <%= fa_icon 'list' %> Show More
          <% end %>
        </div>

      <% else %>
        <h5>No Data</h5>
        <%= link_to new_damage_path, :class => 'btn btn-sm btn-info' do %>
            <%= fa_icon 'plus' %> Add a Damage
        <% end %>
      <% end %>

    </div>
  </div>
