<div class="card">
    <div class="card-body">

      <!-- # -->
      <h4 class="card-title">
        <%= t 'damages' %>
        <b class="badge badge-info">
          <%= number_to_currency(Damage.includes(:expense).pluck(:amount).sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>

      <!-- # -->
      <% if !Damage.all.empty? %>

        <table class="responsive-table">
          <thead>
          <tr>
            <th scope="col">Cause</th>
            <th scope="col"><%= t :driver %></th>
            <th scope="col">Date</th>
            <th scope="col"><%= t :amount %></th>
          </tr>
          </thead>

          <tbody>
          <% Damage.all.limit(3).each do |damage| %>
              <tr>
                <th scope="row">
                  <%= link_to damage do %>
                      <%= damage.damage_type.name %>
                  <% end %>
                </th>
                <td data-title="<%= t :driver %>">
                  <% if damage.driver_id %>
                      <%= damage.driver.full_name %>
                  <% else %>
                      <%= t :no_one %>
                  <% end %>
                </td>
                <td data-title="Date"><%= damage.date %></td>
                <td data-title="<%= t :amount %>"><b><%= damage.expense.amount %> DH</b></td>
              </tr>
          <% end %>
          </tbody>

        </table>

        <!-- # -->
        <div class="col-md-12">
          <%= link_to new_damage_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'plus' %> <%= t :add_a_new_damage %>
          <% end %>
          <%= link_to damages_path, :class => 'btn btn-sm btn-secondary' do %>
              <%= fa_icon 'list' %> <%= t 'show_more' %>
          <% end %>
        </div>

      <% else %>
        <h5><%= t :no_data %></h5>
        <%= link_to new_damage_path, :class => 'btn btn-sm btn-info' do %>
            <%= fa_icon 'plus' %> <%= t :add_a_new_damage %>
        <% end %>
      <% end %>

    </div>
  </div>
