<div class="card">
    <div class="card-body">

      <!-- # -->
      <h4 class="card-title">
        <%= t :insurances %>
        <b class="badge badge-info">
          <%= number_to_currency(Insurance.includes(:expense).pluck(:amount).sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>

      <!-- # -->
      <% if !Insurance.all.empty? %>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th><%= t :insurer %></th>
            <th><%= t :starting_date %></th>
            <th><%= t :end_date %></th>
            <th><%= t :amount %></th>
          </tr>
          </thead>

          <tbody>
          <% Insurance.all.limit(3).each do |insurance| %>
              <tr>
                <td>
                  <%= link_to insurance do %>
                      <%= insurance.insurer.name %>
                  <% end %>
                </td>
                <td><%= insurance.start_date %></td>
                <td><%= insurance.expiration_date %></td>
                <td><b><%= insurance.expense.amount %> DH</b></td>
              </tr>
          <% end %>

          </tbody>

        </table>

        <!-- # -->
        <div class="col-md-12">
          <%= link_to new_insurance_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'plus' %> <%= t :add_a_new_insurance %>
          <% end %>
          <%= link_to insurances_path, :class => 'btn btn-sm btn-secondary' do %>
              <%= fa_icon 'list' %> <%= t 'show_more' %>
          <% end %>
        </div>

        <% else %>
          <h5><%= t :no_data %></h5>
          <%= link_to new_insurance_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'plus' %> <%= t :add_a_new_insurance %>
          <% end %>
      <% end %>


    </div>
  </div>
