<div class="col-sm-6">
  <div class="card">
    <div class="card-body">

      <!-- # -->
      <h4 class="card-title">
        Owner Takes
        <b class="badge badge-info">
          <%= number_to_currency(@owner_takes_sum, unit: '', separator: ',', delimiter: '', precision: 1) %> DH
        </b>
      </h4>

      <!-- # -->
      <% if !OwnerTake.all.empty? %>

        <!-- # -->
        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Owner</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
          </thead>

          <tbody>
          <% OwnerTake.all.limit(3).each do |owner_take| %>
              <tr>
                <td>
                  <%= link_to owner_take do %>
                      <%= owner_take.owner.full_name %>
                  <% end %>
                </td>
                <td><%= owner_take.date %></td>
                <td><b><%= owner_take.expense.amount %> DH</b></td>
              </tr>
          <% end %>
          </tbody>

        </table>

        <!-- # -->
        <div class="col-md-12">
          <%= link_to new_owner_take_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'plus' %> Add an Owner Take
          <% end %>
          <%= link_to owner_takes_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'list' %> Show More
          <% end %>
        </div>

      <% else %>
          <h5>No Data</h5>
          <%= link_to new_owner_take_path, :class => 'btn btn-sm btn-info' do %>
              <%= fa_icon 'plus' %> Add an Owner Take
          <% end %>
      <% end %>

    </div>
  </div>
</div>