<h4>Editer ce Taxi</h4>

<%= render 'form', cab: @cab %>

<%= link_to cabs_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to @cab, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Consulter Detail
<% end %>