<h4>Cab - Edit</h4>

<%= render 'form', cab: @cab %>

<%= link_to cabs_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to @cab, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Show Detail
<% end %>