<h4><%= t :vehicle %> - <%= t :edit %></h4>

<%= render 'form', cab: @cab %>

<%= link_to cabs_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> <%= t :go_back %>
<% end %>

<%= link_to @cab, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> <%= t :preview %>
<% end %>