<h4><%= t :vehicles %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_cab_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_cab %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-cab"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="cab-data" class="table table-bordered">
  <thead>
  <tr>
    <th><%= t :cab_model %></th>
    <th><%= t :license_plate %></th>
    <th><%= t :agreement_number %></th>
    <th><%= t :total_mileage %></th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @cabs.each do |cab| %>
    <tr>
      <td><%= cab.cab_model.name %></td>
      <td><%= cab.license_plate %></td>
      <td><%= cab.agreement_number %></td>
      <td><%= number_with_delimiter(cab.total_mileage) %> km(s)</td>
      <td>
        <%= link_to cab, :class => 'btn btn-outline-dark btn-sm' do %>
            <%= fa_icon 'eye' %>
        <% end %>
        <%= link_to edit_cab_path(cab), :class => 'btn btn-outline-dark btn-sm' do %>
            <%= fa_icon 'pencil' %>
        <% end %>
        <%= link_to cab, method: :delete, data: { confirm: "#{t :are_you_sure}" }, class: 'btn btn-outline-dark btn-sm' do %>
            <%= fa_icon 'close' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>


