<h4>Cab - Detail</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>License Plate</th>
      <th>Agreement Number</th>
      <th>Kilometrage</th>
      <th>Manager</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cab.license_plate %></td>
      <td><%= @cab.agreement_number %></td>
      <td><%= @cab.total_mileage %> km(s)</td>
      <td><%= Manager.find(@cab.manager_id).email %></td>
    </tr>
  </tbody>
</table>


<%= link_to cabs_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Go Back
<% end %>

<%= link_to edit_cab_path(@cab), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> Edit
<% end %>
