<div style="margin-bottom: 10px">
  <ul>
    <li><%= link_to 'Other', :action => :new %></li>
    <li><%= link_to 'Insurance', :action => :insurance_fields %></li>
    <li><%= link_to 'Break', :action => :break_fields %></li>
    <li><%= link_to 'Damage', :action => :damage_fields %></li>
    <li><%= link_to 'Owner Take', :action => :owner_take_fields %></li>
  </ul>
</div>