<div class="col-sm-2 col-md-2 d-none d-sm-block sidebar">

  <!-- # Logo-->
  <div class="top-logo">
    <%= link_to root_path, :class => 'logo' do %>
      <%= fa_icon 'cube' %> smartcab
    <% end %>
  </div>

  <!-- Dashboard -->
  <ul class="nav flex-column">

    <!-- # Title -->
    <li class="list-header">
      <h4>Navigation</h4>
    </li>

    <!-- # -->
    <li class="nav-item">
      <%= link_to root_path do %>
          <%= fa_icon 'home' %> Dashboard
      <% end %>
    </li>

  </ul>

  <!-- # Navigation -->
  <ul class="nav flex-column">

    <!-- # Title -->
    <li class="list-header">
      <h4>Modules</h4>
    </li>

    <!-- # Expenses -->
    <li class="<%= current_path('expenses/') ? 'active-list' : '' %> nav-item">
      <a data-toggle="collapse"
         href="#expensesCollapse"
         aria-expanded="false"
         aria-controls="expensesCollapse">
        <%= fa_icon 'bank' %>
        Dépenses
        <%= fa_icon 'angle-right' %>
        <%= fa_icon 'angle-down' %>
      </a>
      <ul class="<%= current_path('expenses/') ? 'collapse show' : 'collapse hide' %> multi-collapse" id="expensesCollapse">
        <li>
          <%= link_to all_expenses_path, class: "#{ current_path('expenses/all') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> All Incomes
          <% end %>
        </li>
        <li>
          <%= link_to insurances_path, class: "#{ current_path('insurances') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Insurances
          <% end %>
        </li>
        <li>
          <%= link_to breaks_path, class: "#{ current_path('breaks') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Breaks
          <% end %>
        </li>
        <li>
          <%= link_to damages_path, class: "#{ current_path('damages') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Damages
          <% end %>
        </li>
        <li>
          <%= link_to owner_takes_path , class: "#{ current_path('owner_takes') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Owner Takes
          <% end %>
        </li>
      </ul>
    </li>

    <!-- # Incomes -->
    <li class="<%= current_path('incomes/') ? 'active-list' : '' %> nav-item">
      <a data-toggle="collapse"
         href="#incomesCollapse"
         aria-expanded="false"
         aria-controls="incomesCollapse">
        <%= fa_icon 'money' %>
        Incomes
        <%= fa_icon 'angle-right' %>
        <%= fa_icon 'angle-down' %>
      </a>
      <ul class="<%= current_path('incomes/') ? 'collapse show' : 'collapse hide' %> multi-collapse" id="incomesCollapse">
        <li>
          <%= link_to all_incomes_path, class: "#{ current_path('incomes/all') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> All Incomes
          <% end %>
        </li>
        <li>
          <%= link_to manager_takes_path, class: "#{ current_path('manager_takes') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Manager Take
          <% end %>
        </li>
      </ul>
    </li>

    <!-- # Cabs -->
    <li class="<%= current_path('cabs') ? 'active-list' : '' %> nav-item">
      <a data-toggle="collapse"
         href="#cabCollapse"
         aria-expanded="false"
         aria-controls="cabCollapse">
        <%= fa_icon 'taxi' %>
        Taxi
        <%= fa_icon 'angle-right' %>
        <%= fa_icon 'angle-down' %>
      </a>
      <ul class="<%= current_path('cabs') ? 'collapse show' : 'collapse hide' %> multi-collapse" id="cabCollapse">
        <li>
          <%= link_to all_cabs_path, class: "#{ current_path('cabs/all') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Vehicle
          <% end %>
        </li>
        <li>
          <%= link_to drivers_path, class: "#{ current_path('drivers') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Drivers
          <% end %>
        </li>
        <li>
          <%= link_to cab_models_path, class: "#{ current_path('cab_models') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Models
          <% end %>
        </li>
        <li>
          <%= link_to fuel_types_path, class: "#{ current_path('fuel_types') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Fuel Types
          <% end %>
        </li>
        <li>
          <%= link_to damage_types_path, class: "#{ current_path('damage_types') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Damage Types
          <% end %>
        </li>
        <li>
          <%= link_to break_causes_path, class: "#{ current_path('break_causes') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Break Causes
          <% end %>
        </li>
        <li>
          <%= link_to insurers_path, class: "#{ current_path('insurers') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Insurers
          <% end %>
        </li>
        <li>
          <%= link_to owners_path, class: "#{ current_path('owners') ? 'active' : '' }" do %>
              <%= fa_icon 'caret-right' %> Owners
          <% end %>
        </li>
      </ul>
    </li>

    <!-- # Statistics -->
    <li class="<%= current_path('statistics') ? 'active-list' : '' %> nav-item">
      <a data-toggle="collapse"
         href="#cabStatistics"
         aria-expanded="false"
         aria-controls="cabStatistics">
        <%= fa_icon 'bar-chart' %>
        Statistics
        <%= fa_icon 'angle-right' %>
        <%= fa_icon 'angle-down' %>
      </a>
      <ul class="<%= current_path('statistics') ? 'collapse show' : 'collapse' %> multi-collapse" id="cabStatistics">
        <li>
          <%= link_to "#{fa_icon 'caret-right'} Dépenses".html_safe,
                      {controller: 'statistics', action: 'expenses'},
                      class: "#{ current_path('expenses') ? 'active' : '' }" %>
        </li>
        <li>
          <%= link_to "#{fa_icon 'caret-right'} Revenus".html_safe,
                      {controller: 'statistics', action: 'incomes'},
                      class: "#{ current_path('incomes') ? 'active' : '' }" %>
        </li>
      </ul>
    </li>

  </ul>

</div>


