<!DOCTYPE html>
<html>
  <head>
    <title>MyTaxi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>

    <div class="container-fluid">

      <!-- # Authenticated User -->
      <% if manager_signed_in? %>

          <!-- # Header -->
          <%= render 'layouts/header' %>

          <!-- # Content -->
          <div class="row">

            <!-- # Sidebar -->
            <%= render 'layouts/sidebar' %>

            <!-- # Main -->
            <div class="main col-sm-12 ml-sm-auto col-md-10 pt-3" role="main">

              <!-- # Notice -->
              <%= render 'layouts/notices' %>

              <!-- # Title -->
              <%= render 'layouts/title_header' %>

              <!-- # Content -->
              <div class="<%= !current_path('statistics') ? 'main-content' : 'stats' %>">
                <%= yield %>
              </div>

            </div>

          </div>

          <!-- # Non Authenticated User -->
          <% else %>

            <%= yield %>

      <% end %>

    </div>

  </body>
</html>
