<!DOCTYPE html>
<html>
  <head>
    <title>MyTaxi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">

      <% if user_signed_in? %>

          <!-- # Header -->
          <%= render 'layouts/header' %>

          <!-- # Content -->
          <div class="row">

            <!-- # Sidebar -->
            <%= render 'layouts/sidebar' %>

            <!-- # Main -->
            <div class="main col-sm-12 ml-sm-auto col-md-10 pt-3" role="main">
              <% if notice %>
                  <div class="alert alert-success" role="alert"><%= notice %></div>
              <% end %>
              <%= yield %>
            </div>

          </div>

          <% else %>

            <%= yield %>

      <% end %>


    </div>

  </body>
</html>
