<h4>Editer cette Marque</h4>

<%= render 'form', cab_model: @cab_model %>

<%= link_to cab_models_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to @cab_model, :class => 'badge badge-light' do %>
    <%= fa_icon 'eye' %> Consulter Detail
<% end %>