<h4><%= t :cab_models %></h4>

<!-- # -->
<div class="actions row">

  <div class="col-md-4">
    <%= link_to new_cab_model_path, :class => 'btn btn-info btn-sm' do %>
        <%= fa_icon 'plus' %> <%= t :add_a_new_model %>
    <% end %>
  </div>

  <div class="col-md-4 ml-auto">
    <input type="search"
           class="form-control"
           id="search-cab-model"
           placeholder="<%= t :your_text %>..." aria-label="<%= t :your_text %>...">
  </div>

</div>

<!-- # -->
<table id="cab-model-data" class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t :model_name %></th>
    <th>Description</th>
    <th><%= t :manufacturer_year %></th>
    <th><%= t :fuel_types %></th>
    <th><%= t :sheet_metal%></th>
    <th><%= t :power_hp %></th>
    <th><%= t :number_of_places %></th>
    <th class="td-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @cab_models.each do |cab_model| %>
      <tr>
        <td><%= cab_model.name %></td>
        <td><%= cab_model.description %></td>
        <td><%= cab_model.manufacture_year %></td>
        <td><%= cab_model.fuel_type.name %></td>
        <td><%= cab_model.sheet_metal %></td>
        <td><%= cab_model.power_hp %></td>
        <td><%= cab_model.number_places %></td>
        <td>
          <%= link_to cab_model, :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_cab_model_path(cab_model), :class => 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'pencil' %>
          <% end %>
          <%= link_to cab_model, method: :delete, data: {confirm: "#{t :are_you_sure}"}, class: 'btn btn-outline-dark btn-sm' do %>
              <%= fa_icon 'close' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>
