<h4><%= @cab_model.name %> - Detail</h4>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nom de La Marque</th>
    <th>Description</th>
    <th>Manufacturer Year</th>
    <th>Fuel Type</th>
    <th>Sheet Metal</th>
    <th>Power HP</th>
    <th>Number Places</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @cab_model.name %></td>
    <td><%= @cab_model.description %></td>
    <td><%= @cab_model.manufacture_year %></td>
    <td><%= FuelType.find(@cab_model.fuel_type.id).name %></td>
    <td><%= @cab_model.sheet_metal %></td>
    <td><%= @cab_model.power_hp %></td>
    <td><%= @cab_model.number_places %></td>
  </tr>
  </tbody>
</table>

<%= link_to cab_models_path, :class => 'badge badge-light' do %>
    <%= fa_icon 'arrow-left' %> Retour
<% end %>

<%= link_to edit_cab_model_path(@cab_model), :class => 'badge badge-dark' do %>
    <%= fa_icon 'pencil' %> Edit
<% end %>